In [1]:
#for reading another file.  I have API credentials in another file.
from configparser import ConfigParser

import requests # library to handle requests
import json # library to handle JSON files
# tranforming json file into a pandas dataframe library
from pandas.io.json import json_normalize

#this is a library for working with data provided by Socrata
from sodapy import Socrata

#pandas for dataframes
import pandas as pd
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)



#data science math and visualiztion libraries
import numpy as np
import random # library for random number generation
import sklearn
from sklearn.cluster import KMeans

import matplotlib.cm as cm
import matplotlib.colors as colors
import folium # plotting library

# libraries for displaying images
from IPython.display import Image 
from IPython.core.display import HTML

print('Libraries imported.')

Libraries imported.

Retrieving my credentials and setting up my query.

In [2]:
parser = ConfigParser()
_ = parser.read('seattle_key')
APP_TOKEN = parser.get('seattle_key', 'token')
#print(APP_TOKEN)

requests_url = "https://data.seattle.gov/resource/33kz-ixgy.json?$limit=1000&$where=original_time_queued%3E%3D'12/01/2020%25'"
print(requests_url)

https://data.seattle.gov/resource/33kz-ixgy.json?$limit=1000&$where=original_time_queued%3E%3D'12/01/2020%25'

This is an API request using the requests library.

In [38]:
#headers={'X-App-Token': APP_TOKEN}
#results = requests.get(requests_url, headers=headers).json()
##print(results)
        
#df = pd.DataFrame(results)
#df.shape

(1000, 11)

I found the Socrata library and wanted to use it to retrieve the data instead of the requests library.  
It's very user friendly.

In [30]:
client = Socrata("data.seattle.gov", APP_TOKEN)

# Returned as JSON from API / converted to Python list of dictionaries by sodapy.
#results = client.get("33kz-ixgy", limit=1000, where="original_time_queued >= '12/01/2020%'")
results = client.get("33kz-ixgy", limit=30000, where="cad_event_number >= '2020000000000' and cad_event_number < '2021000000000' and call_type not like 'ONVIEW' and precinct = 'EAST'")

# Convert to pandas DataFrame
df = pd.DataFrame.from_records(results)

df.shape
#df.head()

(30000, 11)

In [31]:
df.tail()

,arrived_time,beat,cad_event_number,call_type,event_clearance_description,final_call_type,initial_call_type,original_time_queued,precinct,priority,sector
29995,Jan 01 1900 00:00:00:000AM,C2,2020000304431,911,RESPONDING UNIT(S) CANCELLED BY RADIO,"--ASSIST PUBLIC - 911 HANG UP, OPEN LINE",UNKNOWN - ANI/ALI - LANDLINE (INCLUDES OPEN LINE),10/27/2020 07:21:33 AM,EAST,1,CHARLIE
29996,Oct 15 2020 00:51:12:000AM,E1,2020000294040,911,UNABLE TO LOCATE INCIDENT OR COMPLAINANT,--SUSPICIOUS CIRCUM. - SUSPICIOUS PERSON,HAZ - POTENTIAL THRT TO PHYS SAFETY (NO HAZMAT),10/15/2020 00:45:51 AM,EAST,2,EDWARD
29997,Jan 31 2020 12:26:43:000PM,E2,2020000038227,911,ASSISTANCE RENDERED,--THEFT - SHOPLIFT,SHOPLIFT - THEFT,01/31/2020 12:25:15 PM,EAST,2,EDWARD
29998,Jan 01 1900 00:00:00:000AM,G1,2020000148343,"TELEPHONE OTHER, NOT 911",REPORT WRITTEN (NO ARREST),--RAPE - UNKNOWN SUSPECT (STRANGER),"ASLT - MOLESTED ADULT (GROPED, FONDLED, ETC.)",05/05/2020 08:50:56 AM,EAST,2,GEORGE
29999,Feb 27 2020 01:03:37:000AM,E3,2020000072687,"TELEPHONE OTHER, NOT 911",REPORT WRITTEN (NO ARREST),"--DV - ARGUMENTS, DISTURBANCE (NO ARREST)","DISTURBANCE, MISCELLANEOUS/OTHER",02/27/2020 00:59:48 AM,EAST,2,EDWARD

Doing a little reformatting and renaming to save on keystrokes

In [32]:
df.rename(columns={'cad_event_number':'cad','event_clearance_description':'clearance','final_call_type':'final_type','initial_call_type':'initial_type','original_time_queued':'queued','arrived_time':'arrived'}, inplace=True)

In [42]:
df2 = df[df.columns[[2,7,0,3,9,6,5,4,8,10,1]]]
df2.head()

,cad,queued,arrived,call_type,priority,initial_type,final_type,clearance,precinct,sector,beat
0,2020000301885,10/23/2020 19:43:04 PM,Oct 23 2020 20:23:07:000PM,911,2,PROPERTY - DAMAGE,--PROPERTY DEST (DAMG),REPORT WRITTEN (NO ARREST),EAST,CHARLIE,C1
1,2020000144696,05/01/2020 16:37:11 PM,May 01 2020 16:52:42:000PM,911,3,"NARCOTICS - VIOLATIONS (LOITER, USE, SELL, NARS)",--DISTURBANCE - OTHER,ASSISTANCE RENDERED,EAST,CHARLIE,C1
2,2020000291389,10/12/2020 07:35:29 AM,Jan 01 1900 00:00:00:000AM,"TELEPHONE OTHER, NOT 911",3,PARKING VIOLATION (EXCEPT ABANDONED CAR),--TRAFFIC - PARKING VIOL (EXCEPT ABANDONED CAR),ORAL WARNING GIVEN,EAST,EDWARD,E3
3,2020000068484,02/23/2020 19:07:08 PM,Feb 23 2020 20:14:00:000PM,911,2,SHOPLIFT - THEFT,--THEFT - SHOPLIFT,ASSISTANCE RENDERED,EAST,EDWARD,E2
4,2020000198107,06/26/2020 15:35:23 PM,Jun 26 2020 16:21:47:000PM,"TELEPHONE OTHER, NOT 911",2,SERVICE - WELFARE CHECK,--ASSIST PUBLIC - OTHER (NON-SPECIFIED),ASSISTANCE RENDERED,EAST,GEORGE,G3

In [ ]:
#df2.set_index('cad', drop=True, inplace=True, verify_integrity=True)
#df2.shape

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 11 columns):
arrived         30000 non-null object
beat            30000 non-null object
cad             30000 non-null object
call_type       30000 non-null object
clearance       30000 non-null object
final_type      30000 non-null object
initial_type    30000 non-null object
queued          30000 non-null object
precinct        30000 non-null object
priority        30000 non-null object
sector          30000 non-null object
dtypes: object(11)
memory usage: 2.5+ MB

This is kind of a pain that the queued datetime and the arrived datetime are not in the same format.  One field probably comes from the dispatch system, and the other from the police car system.  I pick out the date parts of each and make true datetime fields.  Pandas to_datetime has some nice skills.

In [44]:
df2['arrived'] = pd.to_datetime(df2['arrived'], format="%b %d %Y %H:%M:%S:000%p")

In [45]:
df2['queued'] = pd.to_datetime(df2['queued'], format="%m/%d/%Y %H:%M:%S %p")

In [46]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 11 columns):
cad             30000 non-null object
queued          30000 non-null datetime64[ns]
arrived         30000 non-null datetime64[ns]
call_type       30000 non-null object
priority        30000 non-null object
initial_type    30000 non-null object
final_type      30000 non-null object
clearance       30000 non-null object
precinct        30000 non-null object
sector          30000 non-null object
beat            30000 non-null object
dtypes: datetime64[ns](2), object(9)
memory usage: 2.5+ MB

Now to calculate a response time field, rearrange it, and convert it to minutes.

In [47]:
df2['response_time']=df2['arrived']-df2['queued']

In [48]:
df2 = df2[df2.columns[[0,1,11,2,3,4,5,6,7,8,9,10]]]

In [49]:
df2['response_time'] = df2['response_time']/ np.timedelta64(1,'m')
df2.head(5)

,cad,queued,response_time,arrived,call_type,priority,initial_type,final_type,clearance,precinct,sector,beat
0,2020000301885,2020-10-23 19:43:04,4.005000e+01,2020-10-23 20:23:07,911,2,PROPERTY - DAMAGE,--PROPERTY DEST (DAMG),REPORT WRITTEN (NO ARREST),EAST,CHARLIE,C1
1,2020000144696,2020-05-01 16:37:11,1.551667e+01,2020-05-01 16:52:42,911,3,"NARCOTICS - VIOLATIONS (LOITER, USE, SELL, NARS)",--DISTURBANCE - OTHER,ASSISTANCE RENDERED,EAST,CHARLIE,C1
2,2020000291389,2020-10-12 07:35:29,-6.352462e+07,1900-01-01 00:00:00,"TELEPHONE OTHER, NOT 911",3,PARKING VIOLATION (EXCEPT ABANDONED CAR),--TRAFFIC - PARKING VIOL (EXCEPT ABANDONED CAR),ORAL WARNING GIVEN,EAST,EDWARD,E3
3,2020000068484,2020-02-23 19:07:08,6.686667e+01,2020-02-23 20:14:00,911,2,SHOPLIFT - THEFT,--THEFT - SHOPLIFT,ASSISTANCE RENDERED,EAST,EDWARD,E2
4,2020000198107,2020-06-26 15:35:23,4.640000e+01,2020-06-26 16:21:47,"TELEPHONE OTHER, NOT 911",2,SERVICE - WELFARE CHECK,--ASSIST PUBLIC - OTHER (NON-SPECIFIED),ASSISTANCE RENDERED,EAST,GEORGE,G3

Need to drop some rows that the arrived time was in 1900, likely a null value.  I will discard anything with a negative response time.

In [51]:
df3 = df2[df2.response_time > 0]

In [53]:
df3.shape

(25310, 12)

Saving the data to a local csv so that I can do some exploration in Tableau.

In [54]:
df3.to_csv('C:/Users/DaveFunk/Desktop/call_data/call_data.csv')

https://public.tableau.com/profile/david.funk5530#!/vizhome/SeattleEastPrecinctPoliceResponseTime2020/SeattleEastPrecinctPoliceResponseTime